.title {
  width: 40%;
  -webkit-animation: fade-in-out 10s ease 1s forwards;
  animation: fade-in-out 10s ease 1s forwards;
  visibility: hidden;
  opacity: 1;
  z-index: 1;
  margin: 30px auto 5px;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

.title p {
  text-align: center;
  color: #fff;
}

.fulfilled {
  background: rgba(180, 255, 171, 0.8);
  & p {
    color: rgba(17, 151, 2, 0.8);
  }
}

.rejected {
  background: rgba(255, 156, 149, 0.8);
  & p {
    color: rgba(218, 18, 3, 0.8);
  }
}

@media screen and (max-width: 768px) {
  .title {
    width: 70%;
  }
}

@-webkit-keyframes fade-in-out {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  20% {
    visibility: visible;
    opacity: 1;
  }
  40% {
    visibility: visible;
    opacity: 1;
  }
  60% {
    visibility: visible;
    opacity: 1;
  }
  80% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-in-out {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  20% {
    visibility: visible;
    opacity: 1;
  }
  40% {
    visibility: visible;
    opacity: 1;
  }
  60% {
    visibility: visible;
    opacity: 1;
  }
  80% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
